/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./assets/themes/scss/blk-design-system.scss";

@font-face {
    font-family: 'Lato';
    src: url('./assets/themes/fonts/Lato-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}

$primary_font: 'Lato';

$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

* {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}