<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="profile-title text-left">Sign up</h1>
            </div>

            <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
            <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <ul *ngIf="errors" class="text-danger list-unstyled">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>

            <button  class="btn btn-danger btn-round btn-lg btn-lg btn-block" type="submit">Register</button>
        </form>
    </div>
</div>